@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
@import url('https://fonts.googleapis.com/css?family=Monoton|Righteous|Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Monoton|Righteous|Sigmar+One&display=swap');

/*Navbar brand */
.navbar-brand {
  font-family: 'Monoton', cursive;
  text-transform: uppercase;
  color: #FFFFFF

}
.navbar-brand:hover {
  color: #e7a61a;
}

/* nav bar */
.navbar .nav {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  position: relative;

}

.navbar-expand-lg {
  background-color: #00254e;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom: 5px solid #e7a61a

}
.navbar-expand-lg .navbar-nav>.active>a,
.navbar-expand-lg .navbar-nav>.active>a:hover,
.navbar-expand-lg .navbar-nav>li>a:hover,
.navbar-expand-lg .navbar-nav>li>a:focus {
  background-color: #e7a61a;
}

.navbar-expand-lg .navbar-nav>li>a {
  color:  #FFFFFF;
  font-weight: 400;
  margin-left: 3%;
  margin-right: 3%;
}

/* Nav bar dropdown menu */
.navbar-dropdown{
  display: none;
  position: absolute;
  background-color: #00254e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .navbar-dropdown{display: block;}

.dropdown-menu>a:hover,
.dropdown-menu>a:focus {
  background-color: #e7a61a;
  color:  #FFFFFF;
}

.dropdown-menu>a {
  color:  #FFFFFF;
}

.navbar-expand-lg .navbar-nav>.dropdown>a .caret {
  border-top-color: #e7a61a;
}

.navbar-expand-lg .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #e7a61a;
}
.custom-toggler.navbar-toggler {
  border-color: #e7a61a;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*-- Top heading and logo */


#title-container{
  font-family: 'Open Sans', sans-serif;
  color: #00254e;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;


}

.du-name{
    font-size: 2vw;
    letter-spacing: 5px;
}
.cse-name{
    font-size: 3vw;
    font-family: 'Titillium';
}
.top-logo{
  float: right;
  width: 4.5%;
  height: auto;
  margin-top: 10px ;
  right: 20px;
  position: absolute;
  z-index: -1;
}
